html, body {
    background-image: url("images/bckgroundblack.png");
    background-repeat: repeat;
    /* height: 200vh; */
    background-color: black ;

    margin: 0;
    padding: 0;
}

h1 {
    font-family: nasalization;
    color: #09ABFD;
    font-size: 50px;
}
h2 {
    font-family: nasalization;
    color: #09ABFD;
    font-size: 30px;
}

p {
    font-family: nasalization;
    color: #ffffff;
}

.backG {
    background-image: url("images/bckgroundblack.png");
    background-repeat: repeat;
    position: absolute;
    top: 0;
    transition: top 0.6s ease-in-out;
}


.shifted {
    top: -100vh;
}


.introPage {
    width: 100vw;
    height: 100vh;
}


/* introPage animation */
@keyframes fadeInIntro {
    0% {
    opacity: 0;

    transform: translate(-50%, -30%);
    }
    100% {
    opacity: 1;
    transform: translate(-50%, -50%);

    }
  }


/* Logo */
.logo {
    width: 80%;
    position: absolute;
    animation: fadeInIntro 1s linear forwards;
    top: 45vh;
    left: 50%;
}


/* ready? */
.ready {
    position: absolute;
    animation: fadeInIntro 1s linear forwards;
    width: 60%;
    top: 70vh;
    left: 50%;
}


/* Button */
.buttonDown {
    position: absolute;
    height: 5%;
    width: 5%;

    top: 85vh;
    left: 50%;

    animation: fadeInIntro 1s linear forwards;
}


/* button hover */
.svg-image {
    transition:  filter 0.3s;
}
  
.svg-image:hover {
    filter: brightness(200%);
}

.wholeBar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;

    min-height: 40px;
}


.miniLogo {
    width: 100px;
    /* padding-left: 40px; */
}


.navBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}


.navList {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* temporary */
li a {
    font-family: nasalization;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

li a:hover {
    /* text-decoration: underline; */
    color: #09ABFD;
}

li a:active {
    /* text-decoration: underline; */
    color: #09ABFD;
}

.startBtn:hover {
    background-color: #0b7bb3; /* Change to the desired color when pressed */
    cursor: pointer
}

@font-face {
    font-family: nasalization;
    src: url(fonts/nasalization-rg.otf)
}


hr {
    border: 1.5px solid white;
    border-radius: 5px;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}


/* content first page */

.contentFirstPage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    margin-right: 180px;
}

.contentServices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.contentContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

.vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

.whatWeDo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

.pservices {
    text-align: center;
    font-size: xx-large;
    width: 65%;
    margin-top: -30px;
}


.startBtn {
    background-color: #09ABFD;
    height: 10%;
    width: 30%;
    border-radius: 30px;
    border: none;
}


.startYourJourney {
    display: flex;
    font-family: nasalization;
    font-size: 210%;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

 .digital {
    margin-right: 15%;
    width: 42%;
    
 }

 .servicesimg {
    margin-top: 200px;
    width: 80%;
 }

 .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
 }

 .card {
    width: 200px;
    padding: 20px;
 }

 .hCon{
    margin-bottom: 0px;
 }

 .pCon {
    font-size: 30px;
 }

 .member {
    width: 500px;
    padding: 20px;
 }

 .member1 {
    width: 300px;
    padding: 20px;
 }

 .teamCon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
 }

 .imgTeam {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .team{
    display: flex;
    flex-direction: column;
 }

 .reh {
    display: flex;
    flex-direction: column;
    justify-content: center;

 }

 .neub{
    display: flex;
    flex-direction: column;
    justify-content: center;

 }

 .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .cntct {
    font-family: nasalization;
    color: white;
    font-size: 20px;
    text-decoration: none;
 }

 .cntct:hover {
    color: #09abfd;
 }

 .pPrices {
    font-size: 40px;
 }

 .pricingBtn {
    background-color: #09ABFD;
    height: 30%;
    width: 20%;
    border-radius: 30px;
    border: none;
 }

 .pricingBtn:hover {
    background-color: #0b7bb3; /* Change to the desired color when pressed */
    cursor: pointer
}




/* hamburger */

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: transform 0.3s;
}

.hamburgerContainer {
    display: none;
}

.hamburgerNavList {
    display: none;
}

.hamburgerNavList.open {
    display: flex;
    flex-direction: column;
    /* animation: openMenu 1s linear forwards; */
    align-items: center;
    list-style-type: none;
    padding: 0;
    align-self: center;
    justify-self: center;
    gap: 10px;
}

.logoHamburger {
    display: none;
}




@media (max-width: 768px) {
    .hamburgerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
    position: absolute;
    right: 30px;
    }

    .logoHamburger {
        display: block;
        position: absolute;
        left: 30px;


    }

    .miniLogoHamburger {
        width: 70px;
    }



    .hamburgerContainer.open .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
    }

    .hamburgerContainer.open .line:nth-child(2) {
    opacity: 0;
    }

    .hamburgerContainer.open .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    }

    .navList {
        display: none;
    }

    .navBar {
        justify-content: center;
        flex-direction: row;
        
    }
}




