html, body {
    background-image: url("images/bckgroundblack.png");
    background-repeat: repeat;
    /* height: 200vh; */
    background-color: black ;

    margin: 0;
    padding: 0;
}

h1 {
    font-family: nasalization;
    color: #09ABFD;
}

p {
    font-family: nasalization;
    color: #ffffff;
}

.backG {
    background-image: url("images/bckgroundblack.png");
    background-repeat: repeat;
    position: absolute;
    top: 0;
    transition: top 0.6s ease-in-out;
}


.shifted {
    top: -100vh;
}


.introPage {
    width: 100vw;
    height: 100vh;
}


/* introPage animation */
@keyframes fadeInIntro {
    0% {
    opacity: 0;

    transform: translate(-50%, -30%);
    }
    100% {
    opacity: 1;
    transform: translate(-50%, -50%);

    }
  }


/* Logo */
.logo {
    width: 80%;
    position: absolute;
    animation: fadeInIntro 1s linear forwards;
    top: 45vh;
    left: 50%;
}


/* ready? */
.ready {
    position: absolute;
    animation: fadeInIntro 1s linear forwards;
    width: 60%;
    top: 70vh;
    left: 50%;
}


/* Button */
.buttonDown {
    position: absolute;
    height: 5%;
    width: 5%;

    top: 85vh;
    left: 50%;

    animation: fadeInIntro 1s linear forwards;
}


/* button hover */
.svg-image {
    transition:  filter 0.3s;
}
  
.svg-image:hover {
    filter: brightness(200%);
}

.wholeBar {
    display: flex;
    flex-direction: row;
    padding: 15px;
}


.miniLogo {
    width: 70px;
    padding-left: 40px;
}


.navBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}


.navList {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;
    margin: 0;
    padding: 0;
}



/* temporary */
a {
    font-family: nasalization;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

a:hover {
    /* text-decoration: underline; */
    color: #09ABFD;
}

.startBtn:hover {
    background-color: #0b7bb3; /* Change to the desired color when pressed */
}

@font-face {
    font-family: nasalization;
    src: url(fonts/nasalization-rg.otf)
}


hr {
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}


/* content first page */

.contentFirstPage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    margin-right: 180px;
}

.contentServices {
    display: flex;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
}

.columnServices {
    
}

.startBtn {
    background-color: #09ABFD;
    height: 10%;
    width: 30%;
    border-radius: 30px;
    border: none;
}


.startYourJourney {
    display: flex;
    font-family: nasalization;
    font-size: 210%;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

 .digital {
    margin-right: 15%;
    width: 42%;
    height: 55%;
 }
  
/* hamburger menu */

.hamburger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    justify-self: end;
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

@media screen and (max-width: 768px) {
    .navBar {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }

    .wholeBar {
        justify-content: space-between;
    }
  
    /* .open .line {
      background-color: #fff;
    } */
  }